<!DOCTYPE html>
<html>
<head>
    <title>Bem-vindo ao AWS APP Runner!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao APP-Runner! 👨‍💻</h1>
        <p>{{ message }}</p>
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
        <h1>Criação de um Service no AWS App Runner</h1>
        <img src="{{ url_for('static', filename='logo.gif') }}" alt="Logo">
    </div>
</body>
</html>
